---
- name: Start fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true

- name: Start auditd
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true
